<h1 style="margin-bottom:10px;">สรุปคะแนน</h1>
<%= "ผลรวมของคะแนน เท่ากับ #{@total_score} คะแนน" %><br>
<%= "วิชาที่มีคะแนนคะแนนมากที่สุด คือ วิชา #{@max_score}" %><br><br>
<button onclick="window.location.href='/';">กลับสู่หน้าแรก</button>
&nbsp;&nbsp;<a href="/score/list">ดูวิชาทั้งหมด</a>